:root {
  --color: #fafae5;
  --background-color: #111;
  --nav-color: hsl(10, 79%, 15%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.wrapper {
  max-inline-size: 900px;
  margin-inline: auto;
  background-color: var(--color);
  color: var(--background-color);
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

#logo {
  max-width: 40px;
  margin-inline: auto;
}

header {
  background-color: var(--nav-color);
  color: var(--color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
}

.heading {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 0.25em;
  color: var(--color);
}

.top-nav ul {
  list-style-type: none;
  display: flex;
  gap: 1.5em;
}

.top-nav a {
  color: var(--color);
  padding: 0.75em 1.25em;
  border-radius: 2px;
}

.top-nav a:hover,
.top-nav a:focus-visible {
  background-color: var(--background-color);
}

.top-nav .active {
  background-color: goldenrod;
}

.hero {
  max-width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images-copy/coffee-beans.jpg);
  background-size: cover;
  background-position: center;
  color: var(--color);
  font-size: 2rem;
}

main h2 {
  margin-bottom: 0.75em;
  font-size: 1.75rem;
}

section[class$="sctn"] {
  padding: 0 3em;
  margin-block: 4em;
}

section[class*="main"] {
  display: flex;
  flex-direction: column;
}

section[class^="home"] {
  gap: 4em;
}

section[class^="about"] {
  gap: 3em;
}

section[class^="about"] h2 {
  text-align: center;
}

main p {
  line-height: 1.5em;
  margin-bottom: 1em;
}

.form div {
  width: 100%;
  margin-bottom: 1.5em;
}

.form div label,
.form div p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.form div input,
textarea {
  margin-top: 0.5em;
  width: 100%;
  height: 3em;
  padding: 0 0.75em;
  outline: none;
  border: 1px solid #1115;
  border-radius: 0.25em;
  color: #222a;
}

textarea {
  height: unset;
}

.form div input:hover,
.form div input:focus {
  box-shadow: 0px 1px 0px #44120855;
}

.form #button {
  width: 100%;
  background: linear-gradient(var(--nav-color), var(--background-color));
  height: 3em;
  color: var(--color);
  cursor: pointer;
  border-radius: 0.25em;
  font-size: 1rem;
  font-weight: 400;
  border: none;
}

.form #button:hover {
  background: linear-gradient(0deg, var(--nav-color), var(--background-color));
}

footer.bottom {
  background-color: var(--nav-color);
  padding: 3em;
  color: var(--color);
  font-size: 0.75rem;
}
