:root {
  --color: #ffffee;
  --background-color: #111;
  --nav-color: hsl(10, 79%, 15%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.wrapper {
  max-inline-size: 900px;
  margin-inline: auto;
  background-color: var(--background-color);
  color: var(--color);
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

#logo {
  max-width: 40px;
  margin: 0 auto;
}

header {
  background-color: var(--nav-color);
  color: var(--color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
}

.heading {
  text-align: center;
  margin-bottom: 0.25em;
}

.top-nav ul {
  list-style-type: none;
  display: flex;
  gap: 1.5em;
}

.top-nav a {
  color: var(--color);
  padding: 0.75em 1.25em;
  border-radius: 2px;
}

.top-nav a:hover,
.top-nav a:focus-visible {
  background-color: var(--background-color);
}

.top-nav .active {
  background-color: goldenrod;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin: 1em;
}

h2 {
  margin-bottom: 1em;
  font-size: 1.75rem;
}

main section {
  padding: 0 3em;
}

main p {
  line-height: 1.5em;
  margin-bottom: 1em;
}

footer.bottom {
  background-color: hsl(10, 79%, 20%);
  padding: 3em 0 2em 3em;
  color: var(--color);
}
